<link rel="stylesheet" href="bmi.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="bmi.css">
    <link rel="stylesheet" href="bmi.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404</title>
</head>

<body>
    <h1><%= error %></h1>
</body>

</html>